
.container {
  width: 20.375rem;
  margin-inline: auto;
  margin-top: 2.5rem;

}


h1 {
  font: var(--title);
  margin-top: 1rem;
  margin-bottom: 2.75rem;
  width: 20.375rem;
  margin-inline: auto
}

main form fieldset{
  flex-direction: column;
  width: 20.375rem;
}

#submit {
  border: none;
  display: flex;
  
  margin-inline: auto;
  gap: 1rem;
}

#submit input {
  font: 400 .75rem/140% var(--ff);
  padding: .5rem;
  
  border: 2px solid var(--border-primary);
  border-radius: .75rem;
  
}

#submit input:hover {
  border: 2px solid var(--border-hover);
}


#submit button {
  border: none;
  background-color: var(--color-brand);
  height: 2.75rem;
  padding: .5rem;
  border-radius: .75rem;
  
  font: var(--label);
  color: var(--always-white);
  transition: 200ms;
}

#submit button:hover {
  background-color: var(--color-brand-hover);

}

.shop-list {
  flex-direction: column;
  gap: .75rem;
}

.shop-list li {
  font: var(--paragraph);
  justify-content: center;
  align-items: center;
  width: 20.375rem;
  height: 3.563rem;
  background-color: var(--background-secondary);
  border-radius: .75rem;
  
  .shop-title {
    width: 14.375rem;
    margin-inline: .75rem;
    background-color: var(--background-secondary);
  }
  
  .icon-list {
    width: 1rem;
    height: 1rem;
    background-color: var(--background-secondary);
  }

  .checkbox-wrapper {
    position: relative;
  
    & [type='checkbox'] {
      all: unset;
      position: absolute;
      inset: 0;
    }
  
    .checkbox-image {
      width: 1rem;
      height: 1rem;
  
      background-image: url(../assets/icons/check-default.svg);
    }

    &:has(:checked) .checkbox-image {
      background-image: url(../assets/icons/check-checked.svg);
    }
    
  }
}

footer {
  #not {
    background-color: var(--color-danger);
    width: 20.625rem;
    height: 2.75rem;
    justify-content: center;
    align-items: center;
    border-radius: .75rem;
    margin-inline: auto;
    margin-top: 2.25rem;
    
  }
  #not span {
    background-color: var(--color-danger);
    font: var(--label);
    color: var(--always-white);
    width: 15.438rem;
    margin-inline: .5rem;
  }

  #not img {
    background-color: var(--color-danger);
  }
}

@media (width >= 80em) {
  

  h1 {
    width: 39.375rem;
    margin-inline: auto;
    
  }
  #submit {
    width: 39.375rem;
    flex-direction: row;
  }

  #submit input {
    width: 28.125rem;
  }
  #submit button {
    width: 10rem;
  }

  .container {
    width: 39.375rem;
  }

  .shop-list li {
    width: 39.375rem;
    
    .shop-title {
      width: 33.125rem;
    }
  }

  .checkbox-wrapper {
    position: relative;
  
    & [type='checkbox'] {
      all: unset;
      position: absolute;
      inset: 0;
    }
  
    .checkbox-image {
      width: 1rem;
      height: 1rem;
  
      background-image: url(../assets/icons/check-default.svg);
    }

    &:hover, &:focus-within {
      .checkbox-image {
        background-image: url(../assets/icons/check-hover.svg);
      }
    }

    &:has(:checked) .checkbox-image {
      background-image: url(../assets/icons/check-checked.svg);
    }
    
  }

  footer {
    #not {
      width: 39.375rem;
    }

    #not span {
      width: 34.188rem;
    }
  }
  
}