
.container {
  width: 20.375rem;
  margin-inline: auto;
  margin-top: 2.5rem;

}


h1 {
  font: var(--title);
  margin-top: 1rem;
  margin-bottom: 2.75rem;
  width: 20.375rem;
  margin-inline: auto
}

main form fieldset{
  flex-direction: column;
  width: 20.375rem;
}

#submit {
  border: none;
  display: flex;
  
  margin-inline: auto;
  gap: 1rem;
}

#submit input {
  font: 400 .75rem/140% var(--ff);
  padding: .5rem;
  
  border: 2px solid var(--border-primary);
  border-radius: .75rem;
}

#submit button {
  border: none;
  background-color: var(--color-brand);
  padding: .5rem;
  border-radius: .75rem;
  
  font: var(--label);
  color: var(--always-white);
}

.shop-list {
  flex-direction: column;
  gap: .75rem;
}

.shop-list li {
  font: var(--paragraph);
  justify-content: center;
  align-items: center;
  width: 20.375rem;
  height: 3.563rem;
  background-color: var(--background-secondary);
  border-radius: .75rem;
  
  .shop-title {
    width: 14.375rem;
    margin-inline: .75rem;
    background-color: var(--background-secondary);
  }
  
  .icon-list-1, .icon-list-2 {
    width: 1rem;
    height: 1rem;
    background-color: var(--background-secondary);
  }
}

@media (width >= 80em) {
  

  h1 {
    width: 39.375rem;
    margin-inline: auto;
    
  }
  #submit {
    width: 39.375rem;
    flex-direction: row;
  }

  #submit input {
    width: 28.125rem;
  }
  #submit button {
    width: 10rem;
  }

  .container {
    width: 39.375rem;
  }

  .shop-list li {
    width: 39.375rem;
    
    .shop-title {
      width: 33.125rem;
    }
  }
}